body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.NameHighlight {
    color: orange;
}

.Half-width {
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 4%;
}

.Half-width img {
    width: 100%;
}

.topbanner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.DreamArea {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

section {
    height: 500px;
    padding: 50px;
}

.youtubelink {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.single-experiance {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    width: 30%;
    float: left;
    margin: 20px 20px;
}

footer p {
    text-align: center;
    font-size: medium;
}